.work {
  padding: 4rem 2rem;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
}

.work__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.project-card {
  background: #05142a;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(161, 134, 195, 0.301);
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.project-img-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project-card:hover .project-img {
  transform: scale(1.1);
}

.project-content {
  padding: 1rem;
  text-align: left;
}

.project-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #eceaea;
}

.project-desc {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.4;
}
